*
!.config

!.config/autostart
!.config/autostart/*
.config/autostart/cpe_fbz_notify.desktop

!.config/cosmic
!.config/cosmic/**/*
.config/cosmic/com.system76.CosmicSettings/v1/active-page
.config/cosmic/com.system76.CosmicTerm/v1/font_name
.config/cosmic/com.system76.CosmicAppList/v1/favorites

!.config/systemd
!.config/systemd/**/*
.config/systemd/user/default.target.wants/fb-sks-agent.service

!Documents
!Documents/scripts
!Documents/scripts/**/*
