*
!.config

!.config/autostart
!.config/autostart/*

!.config/cosmic
!.config/cosmic/**/*
.config/cosmic/com.system76.CosmicSettings/v1/active-page
.config/cosmic/com.system76.CosmicTerm/v1/font_name
.config/cosmic/com.system76.CosmicAppList/v1/favorites

!.config/systemd
!.config/systemd/**/*

!Documents
!Documents/scripts
!Documents/scripts/**/*
