[Desktop Entry]
Name=Telegram Desktop
Exec=/usr/bin/telegram-desktop -startintray -- %u
Terminal=false
Type=Application
Icon=telegram
StartupWMClass=TelegramDesktop
Comment=Official desktop version of Telegram messaging app
MimeType=
Categories=Chat;Network;InstantMessaging;Qt;
